<!DOCTYPE html>
<html>
<title>
    Web App for Sentiment and Gender Analysis.
</title>

  <body style="background-color:DodgerBlue;>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h1 class="mt-5" style="text-align:center; color:red;" >Emotion and Gender Analysis</h1>
                <center><img src="{{ url_for('video_feed') }}" width="50%" class="center"></center>
                <h1 class="mt-5" style="text-align:center; color:red;" >By Sparsh Mehta</h1>
            </div>
        </div>
    </div>
    </body>


</html>